.article {
  margin: 20px;


  color: black;
  font-family: Arial, Verdana, Sans-serif;

  p, span, h1, h2, h3, h4, h5, h6 {
    color: inherit !important;
    font-family: inherit !important;
  }


}